.DS_Store
.vscode/
*.log
config.py
github-pipelines*/
__pycache__/
/.idea/ChatGPTwithSQLscript.iml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
/auto
/log
/autopipeline-benchmarks
/crit_logs
/experiment_logs/*
results/
auto/

/output.png 
/cases_summary.csv
/Few Shot Analysis - AutoPipeline Data Analysis.csv
/env/
/.python-version
/.gitignore

examples_length_4 (1).zip

autosuggest_ops_hints.csv
autosuggest_ops_hints_by_L_profile.xlsx
bash_l9.sh
bash_l9_token_length.sh
comands.sh
compiled_critique_l6_exp_20250829_154431.csv
compiled_critique_l9_41_20250827_115647.csv
compiled_critique_l9_5_20250827_115647.csv
compiled_critique_l9_O4_20250827_115647.csv
compiled_multistep_l1_cot_20250828_115412.csv
compiled_multistep_l2_cot_20250828_115412.csv
compiled_multistep_l3_cot_20250828_115412.csv
compiled_multistep_l6_exp_20250829_154431.csv
compiled_multistep_l9_41_20250827_115647.csv
compiled_multistep_l9_5_20250827_115647.csv
compiled_multistep_l9_O4_20250827_115647.csv
compiled_multistep_l9_cot_20250828_115412.csv
keyvalue_rerrun_failed_l1_text_0_101.txt
keyvalue_rerrun_failed_l4_text_15_101.txt
keyvalue_rerrun_failed_l9_text_0_101.txt
keyvalue_rerrun_failed_l9_text_70_101.txt
keyvalue_rerrun_l4_kv_0_50.txt
keyvalue_rerrun_l4_kv_15_50.txt
keyvalue_rerrun_l4_kv_50_101.txt
keyvalue_rerrun_l4_text_0_50.txt
keyvalue_rerrun_l4_text_15_50.txt
keyvalue_rerrun_l4_text_50_101.txt
keyvalue_rerrun_l4_v3_0_50.txt
keyvalue_rerrun_l4_v3_15_50.txt
keyvalue_rerrun_l4_v3_50_101.txt
keyvalue_rerrun_l9_kv_0_50.txt
keyvalue_rerrun_l9_kv_50_101.txt
keyvalue_rerrun_l9_kv_73_101.txt
keyvalue_rerrun_l9_text_0_50.txt
keyvalue_rerrun_l9_text_50_101.txt
keyvalue_rerrun_l9_v3_0_50.txt
keyvalue_rerrun_l9_v3_50_101.txt
track_logs.ipynb
zipped_results/