.DS_Store
*.log
config.py
*.ipynb
github-pipelines*/
__pycache__/
/.idea/ChatGPTwithSQLscript.iml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
/auto
/log
/autopipeline-benchmarks
/crit_logs
/experiment_logs/*
results/
auto/

/output.png 
/cases_summary.csv
/analysis.ipynb
/clustering.ipynb
/Few Shot Analysis - AutoPipeline Data Analysis.csv
/env/
/query_gpt.py
/.python-version
/.gitignore